@media screen and (max-height:610px){
    .wrapper .section-side-header{
        height:calc(100vh -50px);
        min-height: calc(100vh - 50px);
        max-height: calc(100vh - 50px);
    }
}

@media screen and (min-width:1200px){
    .wrapper{
        max-width:1300px;
    }
}

@media screen and (max-width:960px){
    .wrapper{
        overflow:hidden;
    }
    .wrapper .section-side-header{
        transform:translateX(-120%);
    }
    .wrapper .section-side-header.open-sidebar{
        transform:translateX(0);
    }
    .main-wrapper{
        margin-left:0;
    }
    .main-wrapper.margin-sidebar{
        transform:translateX(290px);
    }
    .wrapper .mobile-header{
        display:block;
    }
}